<!DOCTYPE html>
<html lang="en">
<%- include("components/head.ejs")%>
<body>
    <%- include('components/header.ejs') %>

    <div class="container my-3">
        <h1>Login</h1>
        <form action = "/login" method = "post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control neumorphic" name = "email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name = "password" class = "form-control neumorphic">
            </div>
            <button type = "submit" class = "btn neumorphic btn-primary btn-block my-3 text-dark">Log in</button>
            <p class = "bg-transparent text-center">Already have an account? Register <a class = "bg-transparent" href = 'register'>here</a>.</p>
        </form>
    </div>


</body>
</html>